* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-shell {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 2rem;
  width: 24rem;
}

.button {
  width: 100%;
  max-width: 24rem;
  padding: 0.5rem 1rem;
  margin-top: .8rem;
  border: 0;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .5s ease;
}

.button:hover {
  background-color:royalblue;
}

.button--secondary {
  background-color: lightgray;
  color: black;
}

.button--secondary:hover {
  background-color: darkgrey;
}

.input {
  width: 100%;
  max-width: 24rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: 0;
}